<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <title>TechNews</title>
    <!-- Responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Technews</a>
</nav>

<h3>Daily Ranking</h3>
<ol>
    <li th:each="dItem : ${dailyItems}">
        <a th:href="${dItem.url}" target="_blank">[[${dItem.title}]]</a> [[${dItem.likesCount}]]いいね
    </li>
</ol>

<h3>Weekly Ranking</h3>
<ol>
    <li th:each="wItem : ${weeklyItems}">
        <a th:href="${wItem.url}" target="_blank">[[${wItem.title}]]</a> [[${wItem.likesCount}]]いいね
    </li>
</ol>

</body>
</html>